body {
    color: black;
    background: linear-gradient(to left, white 50%, #353535 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
  }

button:focus {
    outline: 0;
}

.dark-mode {
    color: white;
    background: linear-gradient(to right, #353535 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 1s ease;
}

.dark-mode .email-link {
    background: #353535;
    color: white;
    background: linear-gradient(to left, #353535 50%, #009dff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.dark-mode .email-link:hover {
    text-decoration: none;
    background-position: left bottom;
    transition: all 1s ease;
    color: white;
}

.dark-button {
    background: #353535;
    border: 2px solid #353535;
    position: sticky;
    bottom: 20px;
    left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 100px;
    transition: 1s ease;
    z-index: 100;

}

.dark-mode .dark-button {
    background: white;
    border: 2px solid white;
    color: #353535;
}

body .dark-button:before {
    content: "🌙";
}

.dark-mode .dark-button:before {
    content: "☀️";
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 15px 0px 0px;
    overflow: hidden;
    list-style: none;
    margin-bottom: 20px;
}

.skills-list li {
    position: relative;
    margin-bottom: 7px;
    padding-left: 20px;
    font-size: 17px;
    font-weight: 400;
}

.skills-list li::before {
    content: "▸ ";
    color: #009dff;
    font-size: 19px;
    line-height: 12px
}

.project-links {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    background:
        linear-gradient(to right, transparent, transparent),
        linear-gradient(to right, #009dff, #009dff);
    background-size: 100% 0.2em, 0 0.2em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.project-links:hover,
.project-links:focus {
    text-decoration: none;
    color: white;
    background-size: 0 0.2em, 100% 0.2em;
}

.project-desc {
    margin-top: 20px;
    width: 150%;
    font-weight: 100;
    line-height: 1.3;

}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 100%;
    width: -webkit-calc(100% - 30px);
    opacity: 0;
    -webkit-transition: .4s ease;
    transition: .4s ease;
    background-color: #005183;
    z-index: 50;
    border-radius: 20px;
}

.image-overlay:hover,
.image-overlay:active {
    opacity: 0.95
}

.project-tools {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    list-style: none;
    padding: 0px;
    position: absolute;
    bottom: 0px;
}

.project-tools li {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
}

.project-card {
    width: 100%;
    height: 400px;
    background-color: #eee;
    border-radius: 20px;
}

.project-title {
    font-size: 20pt;
    font-weight: 900;
    width: 150%;
    font-family: CircularStd, sans-serif
}
